<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="mango" [routerLink]="['']" slot="end">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Completar formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ng-container *ngIf="loaded" style="margin-top: 20px;">

    <div class="center">
      <h1>{{simpleForm?.title}}</h1>
    
    </div>
    <ion-item > 
      <ion-input [(ngModel)]="formText" readonly value="dog">
        {{simpleForm?.formText | formText : simpleForm?.inputs : myForm }}
      </ion-input>
    </ion-item>
  </ng-container>
    
<form [formGroup]="myForm" (ngSubmit)="signAndSend()" *ngIf="loaded   "  padding='true'>
 
  <ion-list >
    <ng-container *ngFor="let categoria of categorias">

      <ion-list-header class="tituloseccion" [style.background-color]="simpleForm?.categoriesColor" *ngIf="categoria != 'default'">
        <ion-label>{{categoria}}</ion-label>
  
      </ion-list-header>
      <ng-container *ngFor="let c of simpleForm?.inputs;let i = index">

        <ion-item *ngIf="c.positionKey == categoria" [ngSwitch]="c.type">
          
          <ion-label position="stacked">{{c.label}}</ion-label>
            <ion-toggle  *ngSwitchCase="'boolean'" [required]="c.options?.required"  [formControlName]="c.key" ></ion-toggle>
            <ion-datetime  [pickerOptions]="customPickerOptions" [required]="c.options?.required"  displayFormat="DD/MM/YY"  placeholder="Custom Options" *ngSwitchCase="'date'" [formControlName]="c.key" ></ion-datetime>
            <ion-textarea  *ngSwitchCase="'textarea'"  rows="3" [required]="c.options?.required"  [formControlName]="c.key" ></ion-textarea>
            <ion-input  *ngSwitchCase="'text'" [required]="c.options?.required" [type]="c.options?.type ?  c.options.type :  'text' " [formControlName]="c.key" ></ion-input>
            <ion-input  *ngSwitchCase="'number'"  [required]="c.options?.required" [type]="c.options?.type ?  c.options.type :  'number' " [formControlName]="c.key" ></ion-input>
            <ion-select *ngSwitchCase="'select'" [required]="c.options?.required"  value="none" [formControlName]="c.key">
              <ion-select-option *ngFor="let option of c.selectOptions" value="{{option.value}}">{{option.label}}</ion-select-option>
            </ion-select>
            <ion-select *ngSwitchCase="'multiple'" multiple [required]="c.options?.required"  value="none" [formControlName]="c.key">
              <ion-select-option *ngFor="let option of c.selectOptions" value="{{option.value}}">{{option.label}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ng-container>
    </ng-container>
  
    <!-- <ion-item>
      <div>

        <ion-label>input de prueba</ion-label>
        <ion-input></ion-input>
      </div>
    </ion-item> -->
  </ion-list>
  <ion-button expand="block" share="round" color="success" type="submit" expand="block" [disabled]="!myForm.valid">Firmar y enviar solicitud

    <ion-icon name="send"></ion-icon>
  </ion-button>
 

  </form>

</ion-content>
