<ion-header>
  <ion-toolbar  style="--background: #064380; color: white;">
    <ion-title>Perfil</ion-title>
      <ion-avatar slot="end" style="padding: 10px;">
        <img  [src]="avatarUrl" >
      </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content paddding="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-card style="text-align: center;">
          <ion-avatar   style="margin: auto;">
            <img  [src]="avatarUrl" >
          </ion-avatar>
          <ion-item>

            <ion-label  style="text-align: center;">{{user.name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="finger-print"></ion-icon>

            <ion-label  style="text-align: center;">{{user.userName}}</ion-label>
          </ion-item>
      
          <ion-item class="ion-activated ion-justify-content-center">
            <ion-icon name="mail"></ion-icon>
            <ion-label class="ion-text-center">{{user.email}}</ion-label>
          </ion-item>
        
          <ion-card-content>
            <ion-grid>
           
              <ion-row class="ion-justify-content-center">
      
                <ion-button color='mango'  (click)="logoutAction()">Cerrar sesión</ion-button>
              </ion-row>
            </ion-grid>
      
          </ion-card-content>
          <ion-item>
      
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>

        <ion-list *ngIf="isAdmin()">
    <ion-searchbar  [(ngModel)]="filter" (ionChange)="searchAndFilterItems()" ></ion-searchbar>
  
          <ion-list-header style="font-size: 20px;
          font-weight: 600;">
            Listado de usuarios
          </ion-list-header>
      
          <ion-item *ngFor="let user of filteredUsers">
            <ion-avatar slot="start" >
              <img  [src]="user.profile_photo_url" >
            </ion-avatar>
            <ion-label>
              <h2>{{user.name}}</h2>
              <h3>{{user.userName}}</h3>
              <!-- <p>Listen, I've had a pretty messed up day...</p> -->
            </ion-label>
            <!-- <ion-label >
                <h2 *ngFor="let userRole of user.roles"> {{userRole.description}}
                  <ion-button color="danger" fill="outline" (click)="delete(userRole)">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>

                </h2>
           
            </ion-label> -->
            <ion-select required="true" [(ngModel)]="user.roles"     name=role  placeholder="seleccione un rol">
              <ion-select-option value="role" *ngFor="let role of roles" >{{role.description}}</ion-select-option>

            </ion-select>
          
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  


</ion-content>