<ion-header>
  <ion-toolbar  style="--background: #064380; color: white;">
    <ion-title>Formularios digitales</ion-title>
      <ion-avatar slot="end" style="padding: 10px;">
        <img  [src]="avatarUrl" >
      </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <!-- <ion-item>
    <ion-label>Seleccionar Formulario</ion-label>
    <ion-select value="none" [(ngModel)]="selectedForm" okText="aceptar" cancelText="cancelar">
      <ion-select-option value="vacaciones">Formulario de vacaciones</ion-select-option>
      <ion-select-option value="situationUpdate">Actualizacion de situación</ion-select-option>
      <ion-select-option value="performance">Evaluacion del desempeño</ion-select-option>
      <ion-select-option value="requisicion">Formulario de requisicion</ion-select-option>
      <ion-select-option value="custom">Personalizado</ion-select-option>
    </ion-select>
  </ion-item> -->
  <!-- <ion-item>
    <ion-label>Seleccionar Formulario</ion-label>
    <ion-select  [(ngModel)]="selectedFile" (ionChange)="getForm(selectedFile)" okText="Okay" cancelText="Dismiss">
      <ion-select-option *ngFor="let file of files"  value="{{file}}" >{{file | filepipe}}</ion-select-option>
    
    </ion-select>
  </ion-item> -->
  <ion-list>
    <ion-searchbar  [(ngModel)]="filter" (ionChange)="searchAndFilterItems()" ></ion-searchbar>
    <ion-list-header> Seleccion de formulario</ion-list-header>
    <ng-container *ngFor="let file of filteredForms">

      <ion-item *ngIf="vencido(file.fecha_finalizacion)  &&  (file.visible == 1)" >
          <ion-label >
            {{file.nombre}}
           ( {{file.fecha_creacion | date: 'dd/MM/yyyy'}} ) 
  
          </ion-label>
          <ion-button color="mango" (click)="selectFile(file)" slot="end">
            <ion-icon name="create"></ion-icon>
          </ion-button>
      </ion-item>
    </ng-container>
  </ion-list>

  <app-form-completion *ngIf="selectedFile" [file]="selectedFile"></app-form-completion>


  

  <app-vacaciones *ngIf="selectedForm == 'vacaciones'"></app-vacaciones>
  <app-performance *ngIf="selectedForm == 'performance'"></app-performance>
  <app-situation-update *ngIf="selectedForm == 'situationUpdate'"></app-situation-update>
</ion-content>